@import "default";
@import "mixin";
@import "header";
@import "footer";
@import "search";
@import "top";

// レイアウト s
.richer {
    width: 100%;
    height: 100%;
    overflow-y: scroll; // スクロールでhederとfooterの下をすり抜け
    &__changeContent {
        min-height: 100vh;
        background-image: url(img/assets/apl_main_bg.jpg);
        background-size: cover;
        &__space {
            width: 100%;
            padding: 45px;
        }
    }
}
// レイアウト e
