* {
  width: 100%;
  margin: 0;
  font-family: serif;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}

@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
.richer__header {
  width: 100%;
  height: 12%;
  display: grid;
  position: fixed;
  top: 0;
  justify-items: unset;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  box-shadow: 0px 0px 12px;
  background-image: linear-gradient(45deg, #72e4cb, rgba(216, 65, 216, 0.5529411765));
}
.richer__header__navList {
  display: flex;
  align-items: center;
}
.richer__header__navList__title {
  padding: 15px;
  width: 75%;
  font-size: 200%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__header__navList__user {
  width: 25%;
  height: 100%;
  border-left: 3px goldenrod solid;
}
.richer__header__navList__user__icon {
  position: absolute;
  transform: scale(2.8);
  top: 74.15%;
  right: 10%;
  bottom: 0%;
  color: aliceblue;
  width: 14px;
  height: 6px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}
.richer__header__navList__user__icon::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 115%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px;
  background-color: currentColor;
}

@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
.richer__footer {
  width: 100%;
  height: 12%;
  background-color: rgba(63, 81, 181, 0.4784313725);
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 9px;
}
.richer__footer__navList {
  display: flex;
  align-items: center;
}
.richer__footer__navList__timeline {
  width: 20%;
  padding: 25px 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__footer__navList__timeline:active {
  background-color: white;
}
.richer__footer__navList__schedule {
  width: 20%;
  padding: 25px 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__schedule:active {
  background-color: white;
}
.richer__footer__navList__search {
  width: 20%;
  padding: 25px 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__search:active {
  background-color: white;
}
.richer__footer__navList__bell {
  width: 20%;
  padding: 25px 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__bell:active {
  background-color: white;
}
.richer__footer__navList__renraku {
  width: 20%;
  padding: 25px 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__renraku:active {
  background-color: white;
}

@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
.greetingText {
  width: 8ch;
  -webkit-animation: typing 2s steps(22), step-end infinite alternate;
          animation: typing 2s steps(22), step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

.topPageAnimation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.topPageAnimation__bg {
  height: 100%;
  background-size: contain;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.topPageAnimation__bg.show {
  opacity: 1;
  z-index: 2;
}
.topPageAnimation__onikitiImg {
  position: absolute;
  width: 45%;
  top: 44%;
  left: 27%;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.topPageAnimation__onikitiImg.show {
  opacity: 1;
}
.topPageAnimation__text {
  position: absolute;
  width: 50%;
  left: 27%;
  top: 35%;
}
.topPageAnimation__text.show {
  z-index: 2;
  top: 40%;
  left: 17%;
  width: 70%;
}
.topPageAnimation__mamemakiImg {
  position: absolute;
  width: 50%;
  right: 2%;
  opacity: 0;
}
.topPageAnimation__mamemakiImg.show {
  opacity: 1;
  -webkit-animation: diagonal-move-anim 3s linear infinite alternate;
          animation: diagonal-move-anim 3s linear infinite alternate;
}
.topPageAnimation__loveImg {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.topPageAnimation__loveImg.show {
  opacity: 0.8;
}

.richer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.richer__changeContent {
  min-height: 100vh;
  background-image: url(/images/apl_main_bg.jpg?f0583fb9dd4addbd0565a269873db607);
  background-size: cover;
}
.richer__changeContent__space {
  padding: 45px;
  width: 1%;
}
