* {
  margin: 0;
  font-family: serif;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}

@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
.richer__header {
  width: 100%;
  height: 12%;
  display: grid;
  position: fixed;
  top: 0;
  align-items: center;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  box-shadow: 0px 0px 12px;
  background-image: linear-gradient(45deg, #72e4cb, rgba(216, 65, 216, 0.5529411765));
}
.richer__header__navList {
  display: flex;
}
.richer__header__navList__title {
  width: 75%;
  font-size: 200%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__header__navList__user {
  width: 25%;
  padding-top: 3%;
  border-left: 3px goldenrod solid;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}

@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes LogoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
.richer__footer {
  width: 100%;
  height: 12%;
  background-color: rgba(63, 81, 181, 0.4784313725);
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  box-shadow: 0px 0px 9px;
}
.richer__footer__navList {
  display: flex;
}
.richer__footer__navList__timeline {
  width: 20%;
  padding: 2.5% 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__footer__navList__timeline:active {
  background-color: white;
}
.richer__footer__navList__schedule {
  width: 20%;
  padding: 2.5% 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__schedule:active {
  background-color: white;
}
.richer__footer__navList__search {
  width: 20%;
  padding: 2.5% 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__search:active {
  background-color: white;
}
.richer__footer__navList__bell {
  width: 20%;
  padding: 2.5% 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__bell:active {
  background-color: white;
}
.richer__footer__navList__renraku {
  width: 20%;
  padding: 2.5% 0%;
  -webkit-animation-name: LogoAnime;
          animation-name: LogoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__renraku:active {
  background-color: white;
}

.richer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.richer__changeContent {
  min-height: 100vh;
  background-image: url(/images/apl_main_bg.jpg?f0583fb9dd4addbd0565a269873db607);
  background-size: cover;
}
.richer__changeContent__space {
  width: 100%;
  padding: 13% 0%;
}
